# Virtuelle Umgebung
.venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]

# Umgebungsvariablen (Niemals API-Keys ins Repo committen!)
.env

# Temporäre Verzeichnisse & Logs
uploads/*
!uploads/.gitkeep
*.log
.DS_Store